@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar-track {
  background-color: #3b6d932d;
}

::-webkit-scrollbar-thumb {
  background-color: #1783dba9;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1783db;
  cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: var(--foreground);
}

.text-gradient{
  background: linear-gradient(89.97deg, #270db9 1.84%, #908fe9 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero_animation {
  background-image: linear-gradient(
    147.92deg,
    hsla(239, 76%, 53%, 0.456) 10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
